
.icon-avatar-1 {
    background-image: url('png/avatar-1.png');
    background-repeat: no-repeat;
}


.icon-avatar {
    background-image: url('png/avatar.png');
    background-repeat: no-repeat;
}


.icon-back {
    background-image: url('png/back.png');
    background-repeat: no-repeat;
}


.icon-book {
    background-image: url('png/book.png');
    background-repeat: no-repeat;
}


.icon-cancel {
    background-image: url('png/cancel.png');
    background-repeat: no-repeat;
}


.icon-chat-1 {
    background-image: url('png/chat-1.png');
    background-repeat: no-repeat;
}


.icon-chat-2 {
    background-image: url('png/chat-2.png');
    background-repeat: no-repeat;
}


.icon-chat {
    background-image: url('png/chat.png');
    background-repeat: no-repeat;
}


.icon-copy {
    background-image: url('png/copy.png');
    background-repeat: no-repeat;
}


.icon-dislike {
    background-image: url('png/dislike.png');
    background-repeat: no-repeat;
}


.icon-download-1 {
    background-image: url('png/download-1.png');
    background-repeat: no-repeat;
}


.icon-download {
    background-image: url('png/download.png');
    background-repeat: no-repeat;
}


.icon-edit {
    background-image: url('png/edit.png');
    background-repeat: no-repeat;
}


.icon-envelope {
    background-image: url('png/envelope.png');
    background-repeat: no-repeat;
}


.icon-folder {
    background-image: url('png/folder.png');
    background-repeat: no-repeat;
}


.icon-garbage {
    background-image: url('png/garbage.png');
    background-repeat: no-repeat;
}


.icon-glasses {
    background-image: url('png/glasses.png');
    background-repeat: no-repeat;
}


.icon-hand {
    background-image: url('png/hand.png');
    background-repeat: no-repeat;
}


.icon-headphones {
    background-image: url('png/headphones.png');
    background-repeat: no-repeat;
}


.icon-heart {
    background-image: url('png/heart.png');
    background-repeat: no-repeat;
}


.icon-house {
    background-image: url('png/house.png');
    background-repeat: no-repeat;
}


.icon-like {
    background-image: url('png/like.png');
    background-repeat: no-repeat;
}


.icon-link {
    background-image: url('png/link.png');
    background-repeat: no-repeat;
}


.icon-logout {
    background-image: url('png/logout.png');
    background-repeat: no-repeat;
}


.icon-magnifying-glass {
    background-image: url('png/magnifying-glass.png');
    background-repeat: no-repeat;
}


.icon-monitor {
    background-image: url('png/monitor.png');
    background-repeat: no-repeat;
}


.icon-musical-note {
    background-image: url('png/musical-note.png');
    background-repeat: no-repeat;
}


.icon-next-1 {
    background-image: url('png/next-1.png');
    background-repeat: no-repeat;
}


.icon-next {
    background-image: url('png/next.png');
    background-repeat: no-repeat;
}


.icon-padlock {
    background-image: url('png/padlock.png');
    background-repeat: no-repeat;
}


.icon-paper-plane {
    background-image: url('png/paper-plane.png');
    background-repeat: no-repeat;
}


.icon-phone-call {
    background-image: url('png/phone-call.png');
    background-repeat: no-repeat;
}


.icon-photo-camera {
    background-image: url('png/photo-camera.png');
    background-repeat: no-repeat;
}


.icon-pie-chart {
    background-image: url('png/pie-chart.png');
    background-repeat: no-repeat;
}


.icon-piggy-bank {
    background-image: url('png/piggy-bank.png');
    background-repeat: no-repeat;
}


.icon-placeholder {
    background-image: url('png/placeholder.png');
    background-repeat: no-repeat;
}


.icon-printer {
    background-image: url('png/printer.png');
    background-repeat: no-repeat;
}


.icon-reload {
    background-image: url('png/reload.png');
    background-repeat: no-repeat;
}


.icon-settings-1 {
    background-image: url('png/settings-1.png');
    background-repeat: no-repeat;
}


.icon-settings {
    background-image: url('png/settings.png');
    background-repeat: no-repeat;
}


.icon-share {
    background-image: url('png/share.png');
    background-repeat: no-repeat;
}


.icon-shopping-bag {
    background-image: url('png/shopping-bag.png');
    background-repeat: no-repeat;
}


.icon-shopping-cart {
    background-image: url('png/shopping-cart.png');
    background-repeat: no-repeat;
}


.icon-shuffle {
    background-image: url('png/shuffle.png');
    background-repeat: no-repeat;
}


.icon-speaker {
    background-image: url('png/speaker.png');
    background-repeat: no-repeat;
}


.icon-star {
    background-image: url('png/star.png');
    background-repeat: no-repeat;
}


.icon-tag {
    background-image: url('png/tag.png');
    background-repeat: no-repeat;
}


.icon-upload-1 {
    background-image: url('png/upload-1.png');
    background-repeat: no-repeat;
}


.icon-upload {
    background-image: url('png/upload.png');
    background-repeat: no-repeat;
}


.icon-vector {
    background-image: url('png/vector.png');
    background-repeat: no-repeat;
}

